# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Entorno virtual
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Datos y cache
data/
*.pkl
*.cache
*.graphml

# Variables de entorno
.env

# Logs
*.log
